<!-- views/partials/header.ejs -->
<!-- Header is included to keep code dry.  Also can be used to separate from other parts of page. -->

<!DOCTYPE html>
<html lang="en">

<p>Header</p>

<head>
  <title>TinyApp</title>
</head>
<body>

  <% if(userObject === undefined) { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
  <%} else { %>
   <%= "User logged in as " + userObject['email'] %>
      <form method="POST" action="/logout">
      <input type="submit" value="logout">
    </form>
  <% } %>


</body>
</html>