<!-- views/partials/header.ejs -->
<!-- Header is included to keep code dry.  Also can be used to separate from other parts of page. -->

<!DOCTYPE html>
<html lang="en">
<p style=" font-size:50px; font-family:verdana" >TinyApp</p>
<head>
  <title style="color:blue; size:40px">TinyApp</title>
</head>
<body>
  <% if(userObject === undefined) { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
  <%} else { %>
   <p style="font-size:15px;"><%="User logged in as " + userObject['email']%></p>
      <form method="POST" action="/logout">
      <input type="submit" value="logout">
    </form>
  <% } %>
</body>
</html>