<!DOCTYPE html>
<html lang="en">

<header>

    <% include ./partials/_header %>
</header>

<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

    <!-- <pre><%= shortURL + " " + longURL %></pre> -->

        <form method="POST" action="/urls/<%= shortURL %>">
          <p><%= "ShortURL: " + shortURL%></p>

        <input id="updatedLongURL" type="text" name="updatedLongURL" value= <%=longURL%> >
        <button type="submit">Update</button>
      </form>

</body>
</html>