<!-- Creates a new form to submit URL's to be shortened.
Action indicates the URL to submit to and the method is the HTTP method to use when submitting form.
Note also contains 1 input so when this form is submitted, it will make a request to POST /urls, and body will contain one URL-encoded name value pair with name longURL
-->
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>