<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <p>Display Single URL and shortened form</p>



    <pre><%= JSON.stringify(shortURL + " " + longURL) %></pre>



</body>
</html>