<!-- This page will display a single URL and it's shortened form.  The end format will be /urls/xxxxxx -->


<!DOCTYPE html>
<html lang="en">

<header>

    <% include ./partials/_header %>
</header>

<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->

    <!-- <pre><%= shortURL + " " + longURL %></pre> -->
        <% if(databaseUserID === cookies) {%>
        <form method="POST" action="/urls/<%= shortURL %>">
          <p><%= "ShortURL:  " + shortURL + "  Date Created: " + createDate%></p>
        <input id="updatedLongURL" type="text" name="updatedLongURL" value= <%=longURL%> >
        <button type="submit">Update</button>
        <% } else {%>
      <p>400 Error: You do not own this URL please try another one</p>
      <% } %>
      </form>

</body>
</html>